.nav-a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav-a:hover {
    color: #7875FE !important;
}

.nav-a:focus {
    color: #4C5866 !important;
    background-color: #DAD9FB !important;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-a:active {
    color: #4946B4 !important;
}

.btn {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn:hover {
    color: #fff;
    background-color: #7875FE !important;
}

.btn:focus {
    color: #7875FE !important;
    background-color: #DAD9FB !important;
}

.btn:active {
    color: #fff !important;
    background-color: #4946B4 !important;
}

.more {
    color: #7875FE !important;
}

.more:hover {
    color: #4946B4 !important;
}

.more:active {
    color: #4946B4 !important;
}

.more:focus {
    color: #7875FE !important;
    background-color: #DAD9FB !important;
}

.social > i {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.social:hover > i {
    color: #DAD9FB !important;
}

.social:active > i {
    color: #7875FE !important;
}

.social:focus {
    border: #7875FE 2px solid !important;
}

.search-input {
    width: 0;
    -webkit-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}

.search-input.active {
    width: 200px; /* Ширина поля ввода при активации */
}

.form-control {
    line-height: 1 !important;
    padding: 0.3rem 0.75rem !important;
}